# Application.
NODE_ENV="" # development | production, default: production
APP_PORT="" # Number, Example: 3000, Default: 3000

# Redis.
REDIS_PASSWORD=""

# Database.
DB_HOST=""
DB_PORT=""
DB_USER=""
DB_PASSWORD=""
DB_NAME=""

# SMTP.
MAIL_SECURE="" # 0: false | 1: true
MAIL_HOST=""
MAIL_PORT=""
MAIL_USER=""
MAIL_PASSWORD=""
