# Application.
NODE_ENV="" # development | production, default: production
APP_URL="" # String, Example: http://localhost:3000, Default: http://localhost:3000
APP_PORT="" # Number, Example: 3000, Default: 3000
STORAGE_URL="" # String, Example: http://localhost:9000
CORS_ORIGINS="" # String, Example: http://localhost:3000,http://localhost:3001
ENABLE_SWAGGER="" # 0: false | 1: true, default 1
DEFAULT_ROLE="" # String, Example: مدیر, default: مدیر

# Redis.
REDIS_URL=""
REDIS_PASSWORD=""

# Database.
DB_HOST=""
DB_PORT=""
DB_USER=""
DB_PASSWORD=""
DB_NAME=""

# SMTP.
MAIL_SECURE="" # 0: false | 1: true
MAIL_FROM=""
MAIL_HOST=""
MAIL_PORT=""
MAIL_USER=""
MAIL_PASSWORD=""

# MinIO.
MINIO_URL=""
MINIO_BUCKET=""
MINIO_USER=""
MINIO_PASSWORD=""

# Time, Example: 2m: 2 minute, 1d: 1 day
OTP_EXPIRE="" # Default: 3m
OTP_CACHE="" # Default: 1d
SESSION_EXPIRE="" # Default: 15d

# Throttle.
THROTTLE_TTL="" # Time, Example: 60m, Default: 60m
THROTTLE_LIMIT="" # Number, Example: 100, Default: 100
